<a href="https://colab.research.google.com/github/sk27110/basic_ml_hse/blob/task_1_eda/homework_01_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Домашнее задание 1

Все задания ниже имеют равный вес.

## Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов.  
Файлы делятся на две категории:
*   `Students_info_i` - информация о студентах из группы `i`
*   `Students_marks_i` - оценки студентов из группы `i` за экзамены

Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут:

 https://www.kaggle.com/residentmario/renaming-and-combining#Combining

## Практика

In [ ]:
# импортируем библиотеку Pandas
import pandas as pd

In [ ]:
%%capture
# загружаем данные
!wget https://github.com/evgpat/datasets/raw/main/students.zip

In [ ]:
# проверяем загрузку (наличие файла students.zip)
!ls -lah

total 32K
drwxr-xr-x 1 root root 4.0K Jan 24 18:29 .
drwxr-xr-x 1 root root 4.0K Jan 24 18:27 ..
drwxr-xr-x 4 root root 4.0K Jan 23 14:23 .config
drwxr-xr-x 1 root root 4.0K Jan 23 14:24 sample_data
-rw-r--r-- 1 root root  16K Jan 24 18:29 students.zip

In [ ]:
# разархивируем данные
!unzip students.zip

Archive:  students.zip
   creating: students/
  inflating: students/Students_info_0.csv
  inflating: students/Students_info_1.csv
  inflating: students/Students_info_2.csv
  inflating: students/Students_info_3.csv
  inflating: students/Students_info_4.csv
  inflating: students/Students_info_5.csv
  inflating: students/Students_info_6.csv
  inflating: students/Students_info_7.csv
  inflating: students/Students_info_8.csv
  inflating: students/Students_info_9.csv
  inflating: students/Students_marks_0.csv
  inflating: students/Students_marks_1.csv
  inflating: students/Students_marks_2.csv
  inflating: students/Students_marks_3.csv
  inflating: students/Students_marks_4.csv
  inflating: students/Students_marks_5.csv
  inflating: students/Students_marks_6.csv
  inflating: students/Students_marks_7.csv
  inflating: students/Students_marks_8.csv
  inflating: students/Students_marks_9.csv

In [ ]:
# смотрим что получилось
!ls -lah students

total 128K
drwxrwxr-x 2 root root 4.0K Jul 25  2023 .
drwxr-xr-x 1 root root 4.0K Jan 24 18:29 ..
-rw-rw-r-- 1 root root 5.8K Jan 17  2021 Students_info_0.csv
-rw-rw-r-- 1 root root 5.9K Jan 17  2021 Students_info_1.csv
-rw-rw-r-- 1 root root 5.9K Jan 17  2021 Students_info_2.csv
-rw-rw-r-- 1 root root 5.9K Jan 17  2021 Students_info_3.csv
-rw-rw-r-- 1 root root 5.9K Jan 17  2021 Students_info_4.csv
-rw-rw-r-- 1 root root 5.9K Jan 17  2021 Students_info_5.csv
-rw-rw-r-- 1 root root 5.9K Jan 17  2021 Students_info_6.csv
-rw-rw-r-- 1 root root 5.9K Jan 17  2021 Students_info_7.csv
-rw-rw-r-- 1 root root 5.9K Jan 17  2021 Students_info_8.csv
-rw-rw-r-- 1 root root 6.0K Jan 17  2021 Students_info_9.csv
-rw-rw-r-- 1 root root 1.4K Jan 17  2021 Students_marks_0.csv
-rw-rw-r-- 1 root root 1.5K Jan 17  2021 Students_marks_1.csv
-rw-rw-r-- 1 root root 1.5K Jan 17  2021 Students_marks_2.csv
-rw-rw-r-- 1 root root 1.5K Jan 17  2021 Students_marks_3.csv
-rw-rw-r-- 1 root root 1.5K Jan 17  2021 Students_marks_4.csv
-rw-rw-r-- 1 root root 1.5K Jan 17  2021 Students_marks_5.csv
-rw-rw-r-- 1 root root 1.5K Jan 17  2021 Students_marks_6.csv
-rw-rw-r-- 1 root root 1.5K Jan 17  2021 Students_marks_7.csv
-rw-rw-r-- 1 root root 1.5K Jan 17  2021 Students_marks_8.csv
-rw-rw-r-- 1 root root 1.5K Jan 17  2021 Students_marks_9.csv

### Задание 1

Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата

In [ ]:
# ваш код здесь

# df = pd.merge(pd.concat([pd.read_csv(f'students/Students_info_{i}.csv') for i in range(0,10)]), pd.concat([pd.read_csv(f'students/Students_marks_{i}.csv') for i in range(0,10)]), left_index=True, right_index=True)
# df
df = pd.concat([pd.merge(pd.read_csv(f'students/Students_info_{i}.csv'), pd.read_csv(f'students/Students_marks_{i}.csv'), on='index') for i in range(0, 10)])
df

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,1,female,group C,some college,standard,completed,group1,69,90,88
2,2,female,group B,master's degree,standard,none,group1,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,4,male,group C,some college,standard,none,group1,76,78,75
...,...,...,...,...,...,...,...,...,...,...
95,995,female,group E,master's degree,standard,completed,group10,88,99,95
96,996,male,group C,high school,free/reduced,none,group10,62,55,55
97,997,female,group C,high school,free/reduced,completed,group10,59,71,65
98,998,female,group D,some college,standard,completed,group10,68,78,77
99,999,female,group D,some college,free/reduced,none,group10,77,86,86

### Задание 2

Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы

In [ ]:
# ваш код здесь
df.drop('index', axis=1)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
...,...,...,...,...,...,...,...,...,...
95,female,group E,master's degree,standard,completed,group10,88,99,95
96,male,group C,high school,free/reduced,none,group10,62,55,55
97,female,group C,high school,free/reduced,completed,group10,59,71,65
98,female,group D,some college,standard,completed,group10,68,78,77
99,female,group D,some college,free/reduced,none,group10,77,86,86

### Задание 3

Выведите на экран размеры полученной таблицы

In [ ]:
# ваш код здесь
df.shape

(1000, 10)

### Задание 4

Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [ ]:
# ваш код здесь
df.describe()

             index  math score  reading score  writing score
count  1000.000000  1000.00000    1000.000000    1000.000000
mean    499.500000    66.08900      69.169000      68.054000
std     288.819436    15.16308      14.600192      15.195657
min       0.000000     0.00000      17.000000      10.000000
25%     249.750000    57.00000      59.000000      57.750000
50%     499.500000    66.00000      70.000000      69.000000
75%     749.250000    77.00000      79.000000      79.000000
max     999.000000   100.00000     100.000000     100.000000

### Задание 5

Проверьте, есть ли в таблице пропущенные значения

In [ ]:
# ваш код здесь
df.isnull().sum()

index                          0
gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
group                          0
math score                     0
reading score                  0
writing score                  0
dtype: int64

### Задание 6

Выведите на экран средние баллы студентов по каждому предмету (`math`, `reading`, `writing`)

In [ ]:
# ваш код здесь
df[['math score', 'reading score', 'writing score']].mean()

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

### Задание 7

Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)?

Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.

In [ ]:
# ваш код здесь
df['test preparation course'].unique()

df.groupby('test preparation course')[['math score', 'reading score', 'writing score']].mean()

                         math score  reading score  writing score
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673

### Задание 8

Выведите на экран все различные значения из столбца `lunch`

In [ ]:
# ваш код здесь
df['lunch'].unique()

array(['standard', 'free/reduced'], dtype=object)

### Задание 9

Переименуйте колонку `parental level of education` в `education`, а `test preparation course` в `test preparation` с помощью метода pandas [`rename`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html)

In [ ]:
# ваш код здесь
df = df.rename(columns={'parental level of education':'education', 'test preparation course':'test preparation'})
df

,index,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,1,female,group C,some college,standard,completed,group1,69,90,88
2,2,female,group B,master's degree,standard,none,group1,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,4,male,group C,some college,standard,none,group1,76,78,75
...,...,...,...,...,...,...,...,...,...,...
95,995,female,group E,master's degree,standard,completed,group10,88,99,95
96,996,male,group C,high school,free/reduced,none,group10,62,55,55
97,997,female,group C,high school,free/reduced,completed,group10,59,71,65
98,998,female,group D,some college,standard,completed,group10,68,78,77
99,999,female,group D,some college,free/reduced,none,group10,77,86,86

### Задание 10

**Зафиксируем минимальный балл для сдачи экзамена**

In [ ]:
passmark = 50

**Ответьте на вопросы**
* Какая доля студентов сдала экзамен по математике (passmark > 50)?
* Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
* Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [ ]:
# ваш код здесь
df[df['math score'] > passmark].shape[0]/df.shape[0]

0.85

In [ ]:
# ваш код здесь
df[(df['test preparation'] == 'completed' ) & (df['math score'] > passmark)].shape[0]/df[df['test preparation'] == 'completed'].shape[0]

0.9078212290502793

In [ ]:
# ваш код здесь
df[(df['test preparation'] == 'none') & (df['gender'] == 'female') & (df['math score'] <= passmark)].shape[0]/df[(df['test preparation'] == 'none') & (df['gender'] == 'female')].shape[0]

0.23353293413173654

### Задание 11

С помощью `groupby` выполните задания ниже. Также выведите время выполнения каждого из заданий.
* Для каждой этнической группы выведите средний балл за экзамен по чтению
* Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [ ]:
# ваш код здесь
import time
start = time.time()
print(df.groupby('race/ethnicity')['reading score'].mean())
end = time.time() - start
print(end)

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64
0.009613513946533203

In [ ]:
# ваш код здесь
import time
start = time.time()
print(df.groupby('education')['writing score'].min())
end = time.time() - start
print(end)

education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64
0.006172657012939453

### Задание 12

Выполните задание 11 с помощью циклов. Сравните время выполнения

In [ ]:
# ваш код здесь
import time
start = time.time()

array = df['race/ethnicity'].unique()
num_points = {x:0 for x in array}
cnt = {x:0 for x in array}

for index, row in df.iterrows():
  cnt[row['race/ethnicity']] +=1
  num_points[row['race/ethnicity']]+=row['reading score']
for i in array:
  print(i, num_points[i]/cnt[i])

end = time.time() - start
print("time:", end)

group B 67.35263157894737
group C 69.10344827586206
group A 64.67415730337079
group D 70.03053435114504
group E 73.02857142857142
time: 0.06428122520446777

In [ ]:
# ваш код здесь
import time
start = time.time()

array = df['education'].unique()
min_values = {x:100 for x in array}

for index, row in df.iterrows():
  min_values[row['education']] = min(min_values[row['education']], row['writing score'])

for i in array:
  print(i, min_values[i])

end = time.time() - start
print("time:" ,end)

bachelor's degree 38
some college 19
master's degree 46
associate's degree 35
high school 15
some high school 10
time: 0.06106376647949219

### Задание 13

Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования.  
То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выведите средний балл по каждому из предметов.

Это можно сделать с помощью сводных таблиц ([pivot_table](https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas))

In [ ]:
# ваш код здесь
import numpy as np
print(pd.pivot_table(df, index = ['gender', 'education'], values=['math score','reading score','writing score'], aggfunc=np.mean))

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

<ipython-input-117-ffdd3823bc4b>:3: FutureWarning: The provided callable <function mean at 0x7d35e9304f40> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  print(pd.pivot_table(df, index = ['gender', 'education'], values=['math score','reading score','writing score'], aggfunc=np.mean))

### Задание 14

Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице `df` под названием `Math_PassStatus` и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [ ]:
# ваш код здесь
df['Math_PassStatus'] = df['math score'].apply(lambda x: 'P' if x >= passmark else 'F')
print(df['Math_PassStatus'].value_counts())

df['Reading_PassStatus'] = df['reading score'].apply(lambda x: 'P' if x >= passmark else 'F')
print(df['Reading_PassStatus'].value_counts())

df['Writing_PassStatus'] = df['writing score'].apply(lambda x: 'P' if x >= passmark else 'F')
print(df['Writing_PassStatus'].value_counts())

Math_PassStatus
P    865
F    135
Name: count, dtype: int64
Reading_PassStatus
P    910
F     90
Name: count, dtype: int64
Writing_PassStatus
P    886
F    114
Name: count, dtype: int64

### Задание 15

Сколько студентов успешно сдали все экзамены?

Создайте столбец `OverAll_PassStatus` и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [ ]:
# ваш код здесь

df['OverAll_PassStatus'] = df.apply(lambda x: 'P' if x['Math_PassStatus'] == 'P' and x['Reading_PassStatus'] == 'P' and x['Writing_PassStatus'] == 'P' else 'F',
    axis=1
)

df['OverAll_PassStatus'].value_counts()['P']

812

### Задание 16

Переведем баллы в оценки

**Система перевода баллов в оценки**
*   [90;100] = A
*   [80;90) = B
*   [70;80) = C
*   [60;70) = D
*   [50;60) = E
*   [0;50) = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец `Grade` и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

In [ ]:
import numpy

def GetGrade(average_mark):
    if average_mark >=90 and average_mark <=100:
      return 'A'
    elif average_mark >=80 and average_mark <90:
      return 'B'
    elif average_mark >=70 and average_mark <80:
      return 'C'
    elif average_mark >=60 and average_mark <70:
      return 'D'
    elif average_mark >=50 and average_mark <60:
      return 'E'
    else:
      return 'F'

# ваш код здесь
df['Grade'] = df[['math score', 'reading score', 'writing score']].mean(axis=1).apply(GetGrade)
df

,index,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus,OverAll_PassStatus,Grade
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P,P,C
1,1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P,P,B
2,2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P,P,A
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,P,F,F,F
4,4,male,group C,some college,standard,none,group1,76,78,75,P,P,P,P,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,995,female,group E,master's degree,standard,completed,group10,88,99,95,P,P,P,P,A
96,996,male,group C,high school,free/reduced,none,group10,62,55,55,P,P,P,P,E
97,997,female,group C,high school,free/reduced,completed,group10,59,71,65,P,P,P,P,D
98,998,female,group D,some college,standard,completed,group10,68,78,77,P,P,P,P,C
99,999,female,group D,some college,free/reduced,none,group10,77,86,86,P,P,P,P,B